@font-face {
    font-family: "Fipps";
    src: url("./public/fonts/Fipps-Regular.otf");
}

@font-face {
    font-family: "SpaceMono";
    src: 
        url("./public/fonts/SpaceMono-Regular.ttf"),
        url("./public/fonts/SpaceMono-Bold.ttf"),
        url("./public/fonts/SpaceMono-Italic.ttf"),
        url("./public/fonts/SpaceMono-BoldItalic.ttf");
}

:root {
    --dark-color: #3C3C3B;
    --light-color: #fffdf0;
    --blue-color: #39A2AE;
    --purple-color: #9067C6;
}


body {
    background-color: var(--light-color);
    font-family: "SpaceMono", sans-serif;
    color: var(--dark-color);
    max-width: 42rem;
    margin: .25rem auto;
    padding: .5rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

main {
    min-height: 100%;
}

#top-nav {
    text-align: center;
    height: 1.5rem;
}

#title {
    font-family: "Fipps", sans-serif;
    font-size: 1.9rem;
    margin: 2rem 0;
    padding: 0;
    text-align: center;
}

#sub-title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer {
    margin-top: auto;
}

.space {
    margin: 4rem 0;
}

button {
    background-color: var(--light-color);
    padding: .5rem 1rem;
    border-width: 3px;
    border-color: var(--dark-color);
    border-style: solid;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
    /* filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25)); */
    transition: all 0.2s ease-in-out;
    animation: pulse .66s infinite;
}

a {
    color: var(--blue-color);
    display: inline-block;
    font-size: 1rem;
    transition: font-size 0.2s ease-in-out;
}

a:hover {
    font-weight: bold;
    color: var(--dark-color);
    /* background-color: black; */
    transition: all 0.2s ease-in-out;
    animation: pulse .66s infinite;
}

/* Keyframes to make button pulse small and big */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* keyframes for text size pulse */
@keyframes pulseText {
    0% {
        font-size: 1rem;
    }
    50% {
        font-size: 1.1rem;
    }
    100% {
        font-size: 1rem;
    }
}

#footer {
    text-align: center;
}